@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 89.9375em) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
  }
}

@media (max-width: 89.9375em) {
  .pack {
    max-width: 37.5rem;
  }
}

@media (min-width: 37.5em) {
  .pack {
    -webkit-box-shadow: 0rem 0rem 2.1875rem rgba(0, 0, 0, 0.15);
            box-shadow: 0rem 0rem 2.1875rem rgba(0, 0, 0, 0.15);
  }
}

@media (min-width: 89.9375em) {
  .pack {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-shadow: 0rem 0rem 2.1875rem rgba(0, 0, 0, 0.15);
            box-shadow: 0rem 0rem 2.1875rem rgba(0, 0, 0, 0.15);
  }
}

.logo1 {
  height: 5.3125rem;
  background: linear-gradient(135deg, white, #fff5f5);
}

@media (min-width: 89.9375em) {
  .logo1 {
    height: 0;
  }
}

.model-img {
  background: url(/images/hero-mobile.jpg) no-repeat;
  background-size: cover;
  height: 15.625rem;
}

@media (max-width: 89.9375em) {
  .model-img {
    width: 100vw;
    max-width: 37.5rem;
  }
}

@media (min-width: 89.9375em) {
  .model-img {
    width: 38.125rem;
    height: 50rem;
    background: url(/images/hero-desktop.jpg) no-repeat;
    background-size: cover;
  }
}

.info {
  background: linear-gradient(135deg, white, #fff5f5);
}

@media (min-width: 89.9375em) {
  .info {
    background: url(/images/bg-pattern-desktop.svg), linear-gradient(135deg, white, #fff5f5);
    padding: 4.75rem 10.5rem 10.0625rem 10.25rem;
    height: 50rem;
    width: 51.875rem;
  }
}

.logo2 {
  position: absolute;
  top: 2.0625rem;
  left: 1.625rem;
  cursor: pointer;
}

@media (min-width: 37.5em) {
  .logo2 {
    left: calc(1.625rem + (100vw - 37.5rem) / 2);
  }
}

@media (min-width: 89.9375em) {
  .logo2 {
    position: static;
  }
}

.logo2 img {
  height: 1.375rem;
}

@media (min-width: 89.9375em) {
  .logo2 img {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
}

@media (max-width: 89.9375em) {
  .content {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}

.content-h1 {
  padding-top: 4rem;
  padding-bottom: 1.75rem;
  line-height: 1.15;
  text-transform: uppercase;
}

@media (max-width: 89.9375em) {
  .content-h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 89.9375em) {
  .content-h1 {
    font-size: 3.125rem;
    padding-top: 8rem;
    line-height: 1.1;
    padding-bottom: 2.25rem;
  }
}

.content-h1-1st {
  font-weight: 300;
  color: #ce9797;
}

.content-h1-2nd, .content-h1-3rd {
  color: #413a3a;
}

.content-p {
  color: #ce9797;
  padding-bottom: 3.25rem;
  line-height: 1.4;
}

@media (max-width: 89.9375em) {
  .content-p {
    text-align: center;
  }
}

@media (min-width: 89.9375em) {
  .content-p {
    padding-right: 3.125rem;
    line-height: 1.5;
  }
}

.email {
  position: relative;
}

@media (max-width: 89.9375em) {
  .email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.email-box input {
  width: 19.125rem;
  height: 3rem;
  border-radius: 1.5rem;
  padding-left: 1.25rem;
  padding-top: 0.3125rem;
  border-color: #ce9797;
  border: 0.125rem solid rgba(206, 151, 151, 0.5);
  font-family: "Josefin Sans", sans-serif;
}

.email-box input::-webkit-input-placeholder {
  color: #ce9797;
  opacity: 0.5;
}

.email-box input:focus {
  outline: none;
}

@media (max-width: 89.9375em) {
  .email-box input {
    width: 80vw;
    max-width: 30rem;
  }
}

@media (min-width: 89.9375em) {
  .email-box input {
    width: 31.1875rem;
    height: 3.5rem;
    border-radius: 1.75rem;
    padding-left: 2.5rem;
  }
}

@media (min-width: 89.9375em) {
  .email-box input {
    font-size: 1rem;
  }
}

.email-box img {
  position: relative;
  top: 0.4375rem;
  right: 8rem;
}

.email-box button {
  position: absolute;
}

.email-invalid {
  position: relative;
  top: -2.25rem;
  left: 4.375rem;
}

@media (max-width: 89.9375em) {
  .email-invalid {
    left: 9.4375rem;
  }
}

@media (max-width: 37.5em) {
  .email-invalid {
    left: 21.7vw;
  }
}

.email-invalid-icon {
  visibility: hidden;
}

@media (min-width: 89.9375em) {
  .email-invalid-icon {
    position: relative;
    left: 18.375rem;
    top: -1.125rem;
  }
}

.email-invalid-text {
  color: #f96262;
  position: relative;
  top: -4rem;
  right: 1.8125rem;
  visibility: hidden;
}

@media (min-width: 89.9375em) {
  .email-invalid-text {
    right: -2.5rem;
    top: -2.9375rem;
  }
}

.email-valid-icon {
  left: -1.8125rem;
  position: relative;
  width: 1.5rem;
  visibility: hidden;
}

@media (min-width: 89.9375em) {
  .email-valid-icon {
    left: 16.5625rem;
    top: -1.125rem;
  }
}

.email-valid-text {
  color: #47c727;
  position: relative;
  top: -5.125rem;
  right: 1.8125rem;
  visibility: hidden;
}

@media (min-width: 89.9375em) {
  .email-valid-text {
    right: -2.5rem;
    top: -4.125rem;
  }
}

.email button {
  position: relative;
  cursor: pointer;
  top: -4.8125rem;
  left: 7.75rem;
  width: 4rem;
  height: 3rem;
  border-radius: 2.5rem;
  border: none;
  background-image: linear-gradient(135deg, #f8bfbf, #ee8c8c);
  -webkit-box-shadow: 0 0.625rem 1.5625rem #f8bfbf;
          box-shadow: 0 0.625rem 1.5625rem #f8bfbf;
}

@media (max-width: 89.9375em) {
  .email button {
    left: 13.125rem;
  }
}

@media (max-width: 37.5em) {
  .email button {
    left: 35vw;
  }
}

@media (min-width: 89.9375em) {
  .email button {
    width: 6.25rem;
    height: 3.5rem;
    top: -3.5625rem;
    left: 21.5rem;
  }
}

.email button:hover {
  opacity: 0.6;
}

.email button:focus {
  opacity: 0.9;
}

.visible {
  visibility: visible;
}

.soft-red-border {
  border: 0.125rem solid #f96262 !important;
}
/*# sourceMappingURL=styles.css.map */